client/.env
client/.env.local
client/.env.development
client/.env.test
client/.env.production
client/.next/
client/.next.cache/
client/node_modules
client/package-lock.json
Problem Statement Assignments Mobilicis India Private Limited.docx
.DS_Store
node_modules
package-lock.json


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
